@media screen and (max-width: 999px) {
    .banner .inner {
        grid-template-columns: 35% auto;
        grid-gap: 20px;
    }
    .card-product .card-product__descr { 
        padding-top: 30px; 
    }
    .card-product { 
        padding-bottom: 60px;
    }
}
@media screen and (max-width: 920px) {
    .catalog-btn{
        margin-right: 3%;
    }
}
@media screen and (max-width: 900px){
    .product__grid .product__wr { 
        width: 33.3333%; 
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}
@media screen and (max-width: 850px){
    #header{
        .header__top{
            .inner{
                align-items: center;
            }
            .logo{
                width: 50px;
                position: relative;
                top: -1px;
            }
        }
        .contacts-box{
            display: none;
        }
        .header__bottom{
            .product-menu, .catalog-btn{
                display: none;
            }
            
        }
        .burger-btn{
            display: block;
        }
    }
    #header .header__middle .search{
        margin-left: 0;
    }
    #header .header__bottom .catalog-menu {
        
        .close-menu__btn{
            display: block;
        }
        position: fixed;
        overflow: auto;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0;
        box-sizing: border-box;
        padding: 30px;
        padding-right: 0;
        padding-top: 45px;
        background-color: #e1e6ec; 
        transform: scale(0);
        transition: all 300ms ease;
        transform-origin: top left;
        
        .catalog-menu__inner-menu{
            width: 33.333333%;
            padding-right: 30px;
        }
    } 
    #header .header__top .store-btn-box .call_request{
        display: block;
    }
    #header .header__middle .inner {
        padding: 10px 0 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 810px){
    .map-section {
        height: 420px; 
    }
    #footer{
        .inner{
            flex-wrap: wrap;
        }
        .copy-logo {
            max-width: 100%;
            width: 100%;
            text-align: center;
            margin: 0;
            margin-bottom: 30px;
            .footer__logo {
                margin-bottom: 5px;
                display: inline-block;
            }
        }
        
    }
}
@media screen and (max-width: 740px){
    .banner .banner__item:last-child .banner__item__caption {
        height: auto;
        min-height: 41px;
        font-size: 1.3rem;
        line-height: 1.5;
        padding-left: 15px;
        padding-right: 65px;
        padding-top: 9px;
    } 
    
}
@media screen and (max-width: 720px){
    #header .header__bottom .catalog-menu .catalog-menu__inner-menu {
        width: 50%;
        padding-right: 30px;
    }
}
@media screen and (max-width: 700px){
    .product__grid .product__wr { 
        width: 50%; 
    }
}
@media screen and (max-width: 650px) {
    .banner .inner {
        display: block;

        .banner__item {
            margin-bottom: 20px;

            &:last-child {
                min-height: 340px;
                padding: 10px;
            }
        }
    }

}
@media screen and (max-width: 630px){
    .card-product{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .card-product .card-product__column {
        max-width: 520px;
        width: 100%;
    }
    .card-product .card-product__img-box {
        margin-right: 0;
        box-shadow: 0 0px 19px 1px #f2f2f2;
    }
    .card-product .card-product__descr { 
        padding-bottom: 70px;
    }
    .card-product .card-product__descr .card-product__form { 
        margin-bottom: 44px; 
    }

}
@media screen and (max-width: 560px){
    #footer .footer__menu {
        position: relative;
        top: -4px;
        margin: 0;
        width: 50%;
        text-align: center;
        margin-bottom: 18px;
    }
    #footer .contacts-box { 
        top: -4px; 
        margin-right: auto;
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    .banner .inner .banner__item {
        margin-bottom: 15px;
        &:last-child .banner__item__caption {
            height: 34px;
            font-size: 1.14rem;
            line-height: 1.5;
            padding-left: 12px;
            padding-right: 46px;
            padding-top: 5px;

            a {
                width: 34px;
            }
        }
    }
    
    .new-arrivals,
    .sale-porduct{
        padding-top: 43px;
        
    }
    .section-title {  
        padding-bottom: 23px;
    }
    .page-nav ul { 
        justify-content: center;
    }
    
    #header .header__bottom .catalog-menu {
        display: block;
        padding-right: 30px;
        padding-top: 60px;
        .catalog-menu__inner-menu {
            width: 100%;
            padding-right: 0px;
            margin-bottom: 0px;
            padding: 8px auto;
            border-top: 1px solid $elemColor;
            .menu-caption { 
                display: inline-block;
                margin: 8px auto;
                cursor: pointer;
            }
                ul{
                    display: none;
                }
            }
         .store-menu__wr {
            border-top:  none;  
            width: 100%;
            margin-top: 44px;
            text-align: right;
        }
        }

}
@media screen and (max-width: 470px){
    .product__grid .product__wr { 
        width: 100%;  
    }
    .product__box{ 
        width: 96%;
    }
}
@media screen and (max-width: 400px){
    .card-product{ 
        padding: 0 10px; 
    }
}
